<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UiPath.Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="UiPathRemoteBehaviour" name="UiPath.Broker.UiPathRemote">
        <!--Standard Service-->
        <endpoint address="net.pipe://localhost/UiPath/service/agent" binding="netNamedPipeBinding" bindingConfiguration="UiPathRemoteBinding" name="DefaultStandardEndpoint" contract="UiPath.Models.IUiPathRemoteContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/UiPath/service/MEX" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <!--Duplex Service-->
        <endpoint address="net.pipe://localhost/UiPath/service/duplex/agent" binding="netNamedPipeBinding" bindingConfiguration="UiPathRemoteBinding" name="DefaultDuplexEndpoint" contract="UiPath.Models.IUiPathRemoteDuplexContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/UiPath/service/duplex/MEX" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <!-- Enable this for UiPath REST API-->
        <!--<endpoint name="RestEndpoint" address="http://127.0.0.1:8080/UiPath/service/agent" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_IRemoteContract" contract="UiPath.Models.IUiPathRemoteContract" behaviorConfiguration="RestEndpointBehaviour" />
        <endpoint address="http://127.0.0.1:8080/UiPath/service/agent/mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      <!--Executor Service-->
      <service behaviorConfiguration="ExecutorServiceBehaviour" name="UiPath.Broker.ExecutorService">
        <endpoint address="net.pipe://localhost/UiPath/service/executor" binding="netNamedPipeBinding" name="ExecutorEndpoint" contract="UiPath.Models.IExecutorContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="UiPath.Service.LogReceiverServer">
        <endpoint address="net.pipe://localhost/UiPath/service/logging" binding="netNamedPipeBinding" name="LoggingEndpoint" contract="NLog.LogReceiverService.ILogReceiverServer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <!--Monitoring webservice-->
    <client>
      <!--On premise Monitoring endpoint-->
      <!--<endpoint name="MonitoringEndpoint" address="" binding="basicHttpBinding" bindingConfiguration="httpMonitor" contract="MonitoringService.IMonitoringService" />-->
      <!--Cloud Monitoring endpoint-->
      <!--<endpoint name="MonitoringEndpoint" address=""
                binding="basicHttpBinding" contract="MonitoringService.IMonitoringService" bindingConfiguration="MonitoringBindingConfig"/>-->
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="UiPathRemoteBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding name="httpMonitor" maxReceivedMessageSize="1048576" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IRemoteContract" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UiPathRemoteBehaviour">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata />
        </behavior>
        <behavior name="ExecutorServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestEndpointBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <UiPath.Robot.Properties.Settings>
      <setting name="HeartbeatTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
    </UiPath.Robot.Properties.Settings>
  </applicationSettings>
  <!--Robot Info-->
  <appSettings>
    <add key="TopicName" value="" />
    <add key="ShouldStop" value="false" />
    <add key="ODataServicesBaseAddress" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.ProjectManagement" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.TestManagement.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Proxy" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.DeleteTeamProject" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!--Job and workflow execution logs created by UiPath, handled by ExecutionTraceListener-->
      <source name="WorkflowDefault" switchValue="All">
        <listeners>
          <add name="WorkflowDefaultListener" type="UiPath.Executor.Logging.ExecutionTraceListener, UiPath.Executor" />
        </listeners>
      </source>

      <!--Workflow execution logs created by users, handled by ExecutionTraceListener-->
      <source name="WorkflowUser" switchValue="All">
        <listeners>
          <add name="WorkflowUserListener" type="UiPath.Executor.Logging.ExecutionTraceListener, UiPath.Executor" />
        </listeners>
      </source>

      <!--Sink of ExecutionTraceListener-->
      <source name="Execution" switchValue="All">
        <listeners>
          <add name="*" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>

      <!--Diagnostic logs of Service and Executor-->
      <source name="Internal" switchValue="All">
        <listeners>
          <add name="*" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!--Proxy configuration-->
  <!--
  <system.net>  
    <defaultProxy>  
      <proxy  
        usesystemdefault="true"  
        proxyaddress="http://proxy_server:proxy_port"  
        bypassonlocal="true"  
      />  
    </defaultProxy>  
  </system.net>  
  -->

  <!-- プロキシ設定追加 -->
  <system.net>  
    <defaultProxy>  
      <proxy  
        usesystemdefault="true"  
        proxyaddress="proxy.eac.local:8080"  
        bypassonlocal="true"  
      />  
    </defaultProxy>  
  </system.net>  
  
  <exceptionless apiKey="API_KEY_HERE" />
</configuration>